[Unit]
Description=ZooKeeper Service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=zookeeper
LimitCORE=infinity
LimitNOFILE=200000
Restart=on-failure
RestartSec=30
StartLimitInterval=120
StartLimitBurst=3
KillMode=none
ExecStart=/home/zookeeper/bin/zkServer.sh start
ExecStop=/home/zookeeper/bin/zkServer.sh stop

[Install]
WantedBy=multi-user.target
